<div class="hero-unit" data-bind="visible: !authenticated()">
    <h1>blogr</h1>
    <p>generic blogging on the internets</p>
    
    <hr />

    <p>
        <a href="/auth/facebook" class="btn btn-primary btn-large">sign in</a>
        or <a class="nav-to" href="/register">register</a> for an account
    </p>
</div>

<div class="page-header">
    <h1>Current Activity</h1>
</div>

<div class="row">
    <div class="span8" id="recent-posts">
        <h2>Recent Posts</h2>
        <div id="recent-posts" data-bind="template: { name: 'template:blog_posts/list', data: recent_posts() }" />
    </div>
    <div class="span4" id="trending-tags">
        <h2>Trending Tags</h2>
        <p class="leader tags" data-bind="foreach: trending_tags">
            <span class="tag">
                <a class="nav-to" data-bind="text: tag, attr: { href: '/search/tag/' + encodeURI( tag() ) }" />
                (<span data-bind="text: count()" />)
            </span>
        </p>
    </div>
</div>
