<form class="form-horizontal">
    <fieldset>
        <legend data-bind="visible: id()">Edit blog</legend>
        <legend data-bind="visible: !id()">New blog</legend>

        <div data-bind="formField: {
            field: 'title',
            label: 'Title',
            textarea: true
        }" />

        <div class="control-group">
            <label class="control-label" for="screen_name">description</label> 
            <div class="controls">
                <textarea class="input-xxlarge" data-bind="value: description" />
            </div>
        </div>

        <div class="control-group" data-bind="visible: id()">
            <label class="control-label">posts</label>
            <div class="controls">
                <button class="nav-to btn" data-bind="attr: { href: url_for( $data, 'compose' ) }">New post</button>

                <div data-bind="foreach: blog_posts">
                    <hr />
                    <h3><span data-bind="text: title" />
                    <small class="pull-right">
                        <a class="nav-to" data-bind="attr: { href: edit_url_for( $data ) }">edit</a>
                    </small>
                    </h3>
                    <p data-bind="text: leader" />
                </div>

            </div>
        </div>
        
        <div class="form-actions">
            <button class="btn btn-primary" data-bind="click: submit_action( $data )">Submit</button>
            <button class="btn nav-to" data-bind="attr: { href: url_for( $data ) }">Cancel</button>
        </div>
    </fieldset>
</form>
