<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">
              blogr
            </a>
                                
            <form class="navbar-search pull-left" data-bind="submit: search">
                <input class="search-query span2" type="text" placeholder="Search" data-bind="value: search_text" />
            </form>
            
            <ul class="nav pull-right">
                <!-- ko if: authenticated() -->
                    <li><a class="nav-to" data-bind="attr: { href: url_for( 'users', current_user_id() ) }">my profile</a></li>
                    <li><a href="/logout">sign out</a></li>
                <!-- /ko -->
                <!-- ko ifnot: authenticated() -->
                    <li><a data-bind="attr: { href: '/auth/facebook?origin=' + current_url(true) }">sign-in</a></li>
                    <li><a class="nav-to" href="/register">register</a></li>
                <!-- /ko -->
            </ul>
            
        </div>
    </div>
</div>