<div data-region="header">
</div>

<div class="content container" data-region="content">
</div>

<footer class="footer container">
    <p>A demo blogging platform for the <a target="_blank" href="https://github.com/jbrunton/better-js-core">better-js</a> framework.</p>
</footer>