<div data-region="header">
</div>

<div class="content container" data-region="content">
</div>

<footer class="footer container">
    <p>A demo blogging platform for the <a target="_blank" href="https://github.com/jbrunton/frappuccino-core">frappuccino</a> framework.<br/>
        See <a target="_blank" href="https://github.com/jbrunton/frappuccino-demo">here</a> for the demo source code.</p>
</footer>