<div data-region="master">
</div>

<%= render_templates :views => "home" %>

<script type="text/javascript">
    // hack for facebook, which appends an unnecessary '#_=_' to the url after authenticating
    if (window.location.href.indexOf('#_=_') > 0) {
        window.location = window.location.href.replace(/#.*/, '');
    }

    var _app = new app.Application();
    _app.run(new app.Bootstrapper);
    
    // TODO: move this to a Router module or something
    Backbone.history.start();
</script>
