<form class="form-horizontal">
    <fieldset>
        <legend>Edit Post</legend>
        
        <div data-bind="formField: {
            field: 'title',
            label: 'Title',
            textarea: false
        }" />
        
        <div data-bind="formField: {
            field: 'tags_content',
            label: 'Tags',
            textarea: true
        }" />

        <div data-bind="formField: {
            field: 'leader',
            label: 'leader',
            textarea: true
        }" />

        <div data-bind="formField: {
            field: 'content',
            label: 'content',
            textarea: true
        }" />

        <div class="form-actions">
            <button data-bind="click: submit_action( $data )" class="btn btn-primary">Save changes</button>
            <button class="btn nav-to" data-bind="attr: { href: url_for( $data ) }">Cancel</button>
        </div>
    </fieldset>
</form>
