<ul class="nav nav-pills nav-stacked" data-bind="foreach: $data">
    <li>
        <a class="nav-to" data-bind="attr: { href: url_for( $data ) }">
            <h3 data-bind="text: title" />
            <p data-bind="text: posted_date( $data )" />
            <p data-bind="text: leader" />
        </a>
    </li>
</ul>