<div class="page-header">
    <p class="lead"><a class="nav-to" data-bind="attr: { href: url_for( blog() ) }, text: blog().title()" /></p>
    <h1>
        <span data-bind="text: title" />
        <small class="pull-right">
            <a class="nav-to" data-bind="visible: permissions.write, attr: { href: edit_url_for( $data ) }">edit</a>
        </small>
    </h1>
    <p class="lead">by <a class="nav-to" data-bind="attr: { href: url_for( blog().user() ) }, text: blog().user().screen_name()" /></p>
</div>

<div class="row">
    <section class="span8">
        <p class="leader" data-bind="text: leader" />
        <div data-bind="html: make_and_prettify_code( content() )" />
    </section>
    <section class="span4">
        <p class="leader tags">
            Tags:<br />
            <!-- ko foreach: tags -->
            <span class="tag">
                <a class="nav-to" data-bind="text: $data, attr: { href: '/search/tag/' + encodeURI( $data ) }" />
            </span>
            <!-- /ko -->
        </p>
    </span>
</div>