html {
    overflow-y: scroll;
}

body {
    padding-top: 80px;
}


/*.modal-body > ul.thumbnails, .modal-body ul.thumbnails > li {
    margin-bottom: 0;
}*/

p.error {
    color: #B94A48;
}

pre code {
    border: none;
}

.leader {
    font-size: 16px;
    font-weight: 300;
    line-height: 22.5px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.profile {
    margin-bottom: 15px;
}

.profile .thumbnail {
    margin: 0 10px 0 0;
}


.auth-form {
    padding: 10px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding: 35px 0 36px;
    text-align: center;
}

span.tag {
    white-space: nowrap;
}
